* {
    font-family: Arial, Verdana, sans-serif;
    font-size: 1rem;
    padding: 0;
    margin: 0;

}

:root {
    --palette-black: rgb(34, 40, 49);
    --palette-grey: rgb(49, 54, 63);
    --palette-teal: rgb(118, 171, 174);
    --palette-teal-low-opacity: rgba(118, 171, 174, 0.25);
    --palette-white: rgb(238, 238, 238);
    --error-red: rgb(234, 51, 35);
    --success-green: rgb(33, 173, 5);
    --shadow-black: rgba(0, 0, 0, 0.1);
}

html {
    height: 100%;
}

body {
    display: flex;
    height: 100%;
    flex-direction: column;
    background-color: var(--palette-grey);
}

h2 {
    font-size: 1.5rem;
    line-height: 2rem;
}

p {
    padding: 0.5rem
}


input {
    background-color: var(--palette-grey);
    color: var(--palette-white);
    padding: 0.4rem;
    border-radius: 0.5rem;
}

input[type="file"] {
    display: none
}

input[type="checkbox"] {
    accent-color: var(--palette-teal);
}

.form-check-input {
    border-color: var(--palette-teal);
}

.form-check-input:checked {
    background-color: var(--palette-teal);
    border-color: var(--palette-teal);
}

.form-check-input:focus {
    border-color: var(--palette-teal);
    box-shadow: 0 0 0 0.25rem var(--palette-teal-low-opacity);
}

#map {
    display: flex;
    flex-direction: column;
    flex: 1;
    border-radius: 0;
}

.standard-button {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 0.25rem 0.75rem;
    background-color: var(--palette-teal);
    border-width: 0;
    color: var(--palette-grey);
    border-radius: 0.5rem;
    max-width: fit-content;
}

.standard-button:hover {
    background-color: var(--palette-white);
}

.button-red {
    background-color: var(--error-red);
    margin-top: 1rem;
}

/*Header*/

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    font-size: 1.5rem;
    line-height: 2rem;
    text-align: center;
    background-color: var(--palette-black);
    color: var(--palette-white);
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 0;
}

.header-buttons {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    position: absolute;
    right: 2rem;
    border-radius: 0.5rem;
}

/******************/


/*File upload*/

.file-upload {
    padding: 0.75rem 1rem;
    margin-top: 1rem;
}

/******************/


/*Toasts*/

.toast-header {
    align-items: center;
    background-color: var(--palette-black);
    color: var(--palette-white);
}

.toast {
    border-radius: 0.5rem;
}

.toast-body {
    background-color: var(--palette-grey);
    color: var(--palette-white);
}

.toast-bottom-right {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 1rem;
}

#toast-icon {
    padding-right: 0.5rem;
}

#close-toast {
    cursor: pointer;
}

#close-toast:hover {
    color: var(--palette-teal);
}

/******************/


/*Icons*/

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}

.filled-icon {
    font-variation-settings:
        'FILL' 1;
}

.icon-button {
    font-size: 48px;
    color: var(--palette-teal);
    cursor: pointer;
}

.icon-button:hover {
    color: var(--palette-white);
}

/******************/


/*Slideover Menu*/

.menu-content {
    padding-left: 2.5rem;
}

.menu-content label {
    font-size: 1.2rem;
}

.menu-content legend {
    font-size: 1.75rem;
    padding-top: 1rem;
}

.menu-help-button {
    display: none;
}

.menu-small-screen {
    display: none;
}

#menu {
    height: 100%;
    width: 0;
    /*changed with JS to open menu*/
    position: fixed;
    z-index: 9998;
    top: 0;
    right: 0;
    background-color: var(--palette-grey);
    transition: 0.5s;
    overflow-x: hidden;
    color: var(--palette-white);
}

#menu-top-buttons {
    display: flex;
    justify-content: space-between;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
    align-items: center;
}

#menu-add-stations {
    display: none;
}

#close-menu {
    cursor: pointer;
    margin-left: auto;
}

#close-menu:hover {
    color: var(--palette-teal);
}

/******************/


/*Help Overlay*/

#help-overlay {
    /*transparent background*/
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 9999;
    /*overlay should be displayed above everything else*/
    justify-content: center;
    align-items: center;
}

#help-content {
    position: absolute;
    background-color: var(--palette-grey);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    box-shadow: 0 4px 6px var(--shadow-black);
    color: var(--palette-white);
    max-width: 90vw;
    max-height: 90vh;
    overflow: auto;
    border-radius: 8px;
    box-sizing: border-box;
    padding: 1rem;
}

#help-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

#close-help {
    font-size: 48px;
    cursor: pointer;
}

#close-help:hover {
    color: var(--palette-teal)
}

/******************/


/*Stopwatch*/

.stopwatch-button {
    font-size: 40px;
    cursor: pointer;
}

#stopwatch {
    position: fixed;
    bottom: 0;
    left: 0;
    color: var(--palette-white);
    padding: 1rem, 0.75rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--palette-grey);
    z-index: 800;
}

#time {
    font-size: 40px;
}

/******************/


@media (max-width: 480px),
(max-height: 450px) {

    /*Remove header and only have menu open button over map*/
    header {
        display: none;
    }

    .menu-small-screen {
        display: flex;
        position: fixed;
        top: 1rem;
        right: 1rem;
        background-color: var(--palette-black);
        color: var(--palette-teal);
        border-radius: 50%;
        width: 46px;
        height: 46px;
        font-size: 40px;
        justify-content: center;
        align-items: center;
        box-shadow: 0 4px 6px var(--shadow-black);
        z-index: 9997;
    }
}

@media (max-width: 600px) {

    /*help menu to full width*/
    #help-content {
        max-width: 100vw;
        max-height: 100vh;
        top: 0;
        left: 0;
        transform: none;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
    }
}

@media (max-width: 950px),
(max-height: 450px) {

    /*Header buttons moved to menu*/
    .header-buttons> :not(:last-child) {
        display: none;
    }

    .menu-help-button {
        display: block;
    }

    #menu-add-stations {
        display: block;
    }
}

@media (max-width: 1500px) {

    /*Header text moved*/
    header {
        justify-content: left;
        padding-left: 1rem;
    }
}